.about-sections {
    margin-left: auto;
    box-sizing: border-box;
    padding: var(--section-padding);
    background: #f5f5f5;
    text-align: center;
}
.about-sections h2 {
    font-size: 2.5rem;
    color: #27467f;
    margin-bottom: 1rem;
}
.about-sections img {
    width: 100%;
    height: 55vh; /* Altura fija para las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .about-sections img {
        width: 50%;
        height: 60vh; /* Altura fija para las imágenes */
        object-fit: cover; /* Mantiene la proporción de la imagen */
        border-radius: 8px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.about-sections p {
    font-size: 1.2rem;
    color: #656565;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
}
.about-team {
    font-size: 1.2rem;
    color: #656565;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    line-height: 1.6;
}
.team {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    padding: var(--section-padding);
    background: #f5f5f5;
}

@media (min-width: 600px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }
}

.team-member {
    background: #fff;
    border-radius: 12px;
    padding: var(--section-padding);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 250px; /* Flexibilidad para adaptarse */
    max-width: 300px; /* Ancho máximo */
    margin: 0 auto;
    transition: transform 0.2s;
}
.team-member:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 32px rgba(39, 70, 127, 0.15);
}
.team-member img {
    width: 100%;
    height: 300px; /* Altura fija para las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.team-member h3 {
    font-size: 1.4rem;
    color: #27467f;
    margin-bottom: 0.5rem;
    font-family: 'Alex Brush', cursive;
}
.team-member p {
    font-size: 1rem;
    color: #656565;
    margin-bottom: 0.5rem;
}