.blog-main {
    display: flex;
    flex-direction: column; 
    padding: var(--section-padding);
    background: #f5f5f5;
}       
.blog-main h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2vh 0;
    color: #27467f; /* Color del título */
}
.blog-main p {
    font-size: 1.2rem;
    color: #656565;
    text-align: center;
    margin-bottom: 2vh;
}
.tratados {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vh;
}
.jesus-pago-deudas {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: var(--section-padding);
    margin: 1rem 0;
    flex: 1;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.jesus-pago-deudas h3 {
    font-size: 1.8rem;
    color: #27467f; /* Color del subtítulo */
    margin-bottom: 1rem;
}
.jesus-pago-deudas iframe {
    display: none; /* Oculta el iframe en pantallas pequeñas */
}
.jesus-pago-deudas p {
    font-size: 1.2rem;
    color: #656565;
    margin-top: 1rem;
}
@media (min-width: 550px) {
.tratados {
        flex-direction: row; /* Cambia a fila en pantallas grandes */
        flex-wrap: wrap; /* Permite que los artículos se envuelvan */
        justify-content: center; /* Centra los artículos */
    }
.jesus-pago-deudas {
    width: 45%; /* Ajusta el ancho para pantallas grandes */
    background: #fff;
    border-radius: 12px;
    padding: var(--section-padding);
    margin: 1rem;
    flex: 1;
    box-shadow: 0 4px 24px rgba(0, 0,
    0, 0.1);
    text-align: center;
}
.jesus-pago-deudas h3 {
    font-size: 1.8rem;
    color: #27467f; /* Color del subtítulo */
    margin-bottom: 1rem;
}
.jesus-pago-deudas iframe {
    display: block;
    width: 100%;
    height: 60vh; /* Altura fija para el iframe */
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.jesus-pago-deudas p {
    font-size: 1.2rem;
    color: #656565;
    margin-top: 1rem;
}
}